<template>
    <div>
        <form class="well" @submit.prevent="addTodo">
            <div class="row"> 
                <div class="col-sm-10" v-bind:class="{ 'has-error': errors.length }">
                    <input type="text" class="form-control" placeholder="Type task here..." v-model="todo.task">
                    <ul class="error-list text-danger" v-if="errors.length">
                        <li v-for="error in errors">{{error}}</li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <input 
                        type="submit" 
                        value="add" 
                        class="btn btn-block btn-primary" 
                        v-bind:class="{ 'loading': isAdding }"
                    >
                </div>
            </div>
        </form>
        <div class="todowrap" v-bind:class="{ 'fetching': isLoading }"> 
            <div class="list-group" v-if="todos.length && !isLoading"> 
                <div v-for="todo in todos" 
                    v-bind:key="todo.id" 
                    v-bind:class="{ 'list-group-item-done': todo.status }" 
                    class="list-group-item"
                >
                    <h4 class="list-group-item-heading clearfix">
                        <i v-if="!todo.status" v-on:click="doneTodo(todo)" class="pull-right check-status glyphicon glyphicon-unchecked"></i>
                        <i v-if="todo.status" class="pull-right text-success check-status glyphicon glyphicon-check"></i> 
                        <i v-if="todo.status" v-on:click="deleteTodo(todo)" class="pull-right remove-status text-warning glyphicon glyphicon-remove"></i> 
                        {{todo.task}} 
                    </h4> 
                    <p class="task-meta" v-if="todo.status">Done : {{todo.updated_at}}</p>
                </div>
            </div>
            <div class="list-group text-center" v-if="!todos.length && !isLoading"> 
                No task, Netflix time!
            </div>
        </div>
    </div>    
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },

        data() {
            return {
                todos: [],
                todo: {
                    task: '' 
                },
                errors: [],
                isLoading: true,
                isAdding: false,
                todoUrl: 'http://127.0.0.1:8000/api/todos/'
            }
        },

        created() {
            this.fetchTodos();
        },

        methods: {
            // fetch all todos
            fetchTodos() {
                fetch(this.todoUrl)
                    .then(res => res.json())
                    .then(res => {
                        this.todos = res.data;
                        this.isLoading = false;
                    })
            },
            
            // add single task
            addTodo() {
                this.isAdding = true;

                fetch(this.todoUrl, {
                    method: 'post',
                    body: JSON.stringify(this.todo),
                    headers: {
                        'content-type': 'application/json'
                    }
                })
                    .then(res => res.json())
                    .then(res => {
                        if(res.status == 'failed') {
                            this.errors = res.errors;
                        } else {
                            this.todos.unshift(res.data);   
                            this.errors = []; 
                        }
                        
                        this.isAdding = false;
                        this.todo.task = '';
                    })
                    .catch(errs => {
                        console.log(errs); 
                    })

            },

            // save task's status to done
            doneTodo(todo) {  
                todo.status = 1;
                fetch(this.todoUrl + todo.id, {
                    method: 'post', 
                })
                    .then(res => res.json())
                    .then(res => { 
                        console.log(res);
                    })
                    .catch(err => console.log(err))
            },

            // remove task when done
            deleteTodo(todo) {  
                fetch(this.todoUrl + todo.id, {
                    method: 'delete', 
                })
                    .then(res => res.json())
                    .then(res => {
                        this.todos.splice(this.todos.indexOf(todo), 1);
                    })
                    .catch(err => console.log(err))
            }
        }
    }
</script>
