body {
    background: #f9f9f9;
    padding-top: 20px;
    font-family: "Raleway", sans-serif;
}
.todowrap.fetching {
    background: url(/img/load.gif) 50% 50% no-repeat;
    height: 50px;
}
.btn.loading {
    color: rgba(0,0,0,0);
    background-image: url(/img/load.gif);
    background-position: 50%;
    background-repeat: no-repeat;
}
.error-list {
    font:10px;
    font-style: italic;
    margin-bottom: 0;
}
.task-meta {
    margin: 0px;
    font-size: 11px;
    color: #999;
}
.list-group-item h4 {
    margin: 0px;
}
.list-group-item-done {
    opacity: 0.6;
}
.check-status {
    font-style: 12px;
    cursor: pointer;
}
.remove-status {
    font-style: 12px;
    display: none;
    cursor: pointer;
}
.list-group-item-done:hover .remove-status {
    display: inline-block !important;
}
.list-group-item-done:hover .check-status {
    display: none !important;
}